
#all {background-color:black;
	  margin-top:8%;
	 }
.container{
		width:90%;
		
		}
.row{
		width:100%;
		heigth:100%;
		background-color:white;
		}
/*.row1{
		width:100%;
		heigth:100%;
		float:left;
		background-color:white;
		}
row2{
		width:100%;
		heigth:100%;
		float:left;
		background-color:white;
		}
.row3{
		width:100%;
		heigth:100%;
		float:left;
		background-color:white;
		}*/
.row4{
		width:100%;
		heigth:100%;
		float:left;
		background-color:black;
		}
